<div id='display'>
  <a class='prev' href='/menu/{{prevID id}}'></a>
  <div id='description'>
    <img src='/images/{{image}}'>
    <div id='details'>
      <h1>{{name}}</h1>
      <p>{{description}}</p>
      <div id='pricing'>
        <p>${{formatPrice price}}</p>
        <button>Add to cart</button>
      </div>
    </div>
  </div>
  <div id='nutrition'>
    <h2>Nutritional Information</h2>
    {{#with nutrition}}
    <dl>
      <dt>Protein</dt>
      <dd>{{protein}}</dd>
      <dt>Fat (total)</dt>
      <dd>{{fat}}</dd>
      <dt>Carbohydrates</dt>
      <dd>{{carbohydrates}}</dd>
      <dt>Energy (kJ)</dt>
      <dd>{{energy}}</dd>
      <dt>Energy (kcal)</dt>
      <dd>{{convertToKcal energy}}</dd>
      <dt>Sugar</dt>
      <dd>{{sugar}}</dd>
    </dl>
    {{/with}}
  </div>
  <a class='next' href='/menu/{{nextID id}}'></a>
</div>
